* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .navbar {
    background-image: url(./aboutus/IMG_180119_28624.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    margin-bottom: 70px;
    filter: brightness(80%);
    padding-bottom: 5px;
    
  }
  button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 20px;
}





  .navbar a button {
    background: #fff;
    color: #288adf;
    border: none;
    padding: 8px 15px;
    border-radius: 100px;}
  
  
  
  
  .navbar img {
    padding: 0px 0px;
  }
  
  .navbar ul {
    text-align: right;
  }
  
  .navbar li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #288adf;
  }
  
  
  .center {
    text-align: center;
    margin-top: 40px;
  }
  
  .center h1 {
    color:green;
    margin-top: 150px;
  }
  
  .center p {
    color: white;
    margin-bottom: 20px;
  }
  
  .center button {
    background-color: black;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 1px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .center p i {
    color: white;
  }

.image-write{
  background-color: white;
  text-align: center;
  margin-top: -70px;
}
  
  .price {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: black;
  }
 
  
  .price figure {
    padding: 10px;
    width: 250px;
    height: auto;
  }
  
  .price figcaption {
    text-align: center;
    color: white;
  }
  
  @media (max-width: 380px){
    .price figure{
      width: 150px;
      height: 200px;
      
    }
  
    .price figure img{
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  }

